header {
    width: 600px;
    height: 50px;
    padding: 10px;
}

section.one, section.two {
    width: 50%;
    float: left;
    padding-bottom: 10px;
}

footer {
    width: 600px;
    height: 50px;
    padding: 10px;
    float: initial;
}
div#wrapper, footer {
    margin: auto; 
    width: 1000px;
    height: 1000px;
    padding: 20px;
}



form ul {
    list-style-type: none;
    padding: 0;
}

form ul li {
    padding: 10px;
}

.absolute {
    position: absolute;
    left: 150px;
}

form ul li select {
    position: absolute;
    left: 150px;
}
form ul li textarea {
    position: absolute;
    left: 150px;
}

.radio {
    padding: 9px;

}

form ul li .checkbox {
    position: relative;
    left: 150px;
    bottom: 18px;
}
.button {
    position: relative;
    left: 18px;
}