body {
    background-color: rgb(250, 241, 234);
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: rgb(192, 240, 223);
}

div#wrapper {
    margin: auto; 
    width: 1000px;
    background-color: rgb( 251, 235, 235); 
    padding: 20px;
}




